main-color = #7f7f7f
secundary-color = #d80073
complementary-color = #3b3b3b

main-font = arial
secundary-font = 'Roboto', sans-serif

nav
    display: grid
    grid-template-columns: 50% 50%
    width: 100%

.footer
    text-align: center
    position: fixed
    bottom 10px
    width: 100%

.main-body
    color main-color
    margin 0 30px
    padding 0
    font-family main-font
    font-size: 16px

.main__section
    display: grid
    grid-template-columns: 1fr 1fr
    margin 80px 30px
    font-size: 2em
    &--article h1
        font-size 1.5em
    &--article em
        font-style: normal
        color complementary-color
        font-family: secundary-font
        font-weight: 900
    &--article p em
        color secundary-color
        font-weight: 600
        font-family: secundary-font
    &--article a
        text-decoration: none
        font-family: secundary-font
        font-weight: 900
        color white
        padding 15px 70px
        background-color: secundary-color
        border-radius: 20px

.header__menu
    display grid
    padding-top 40px
    &--options a
        text-decoration: none
        color complementary-color
        padding-right: 30px
        padding-left: 30px
        padding-bottom: 20px
        font-size: 1.5em
    &--options a:hover
        color secundary-color
        border-bottom: solid 4px secundary-color

.header__user
    display grid
    justify-items end
    padding: 40px 20px
    font-size: 1.5em